{% load static %}
<!DOCTYPE html>

<head>

  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
  </head>
<header>
  <!-- <h1>Owain <span>Edwards</span></h1> -->
  <nav>

    <ul class="nav-list">
      <li>
        <a href="{% url 'homepage' %}" class="nav-link"> Home </a>
      </li>
      <li>
        <a href="{% url 'post_new' %}" class="nav-link"> Create Post </a>
      </li>
      <li>
        <a href="{% url 'post_list' %}" class="nav-link"> Blog Posts </a>
      </li>
      {% if user.is_authenticated %}
        <li>
          <a href="{% url 'edit_CV' %}" class="nav-link"> Edit CV </a>
        </li>
      {% endif %}

    </ul>

  </nav>


  <!-- <div class="bar"></div> -->


  </nav>
</header>
