{% load static %}
<!doctype html>
<html>
  <head>
    <title>Owain's Learning Website</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- There are more meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="description" content="This is Owain's website description.">
    <meta name ="author" content="Owain Edwards">
    <meta name="keywords" content ="HTML, Tutorial, Learning.">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0"> -->

    <!-- There are more meta tags -->
  </head>
  <!-- <body style="background-color: lightblue;"> -->

    <h1>Posts thing</h1>
    {% for post in posts %}
      <div>
        <p> published: {{ post.published_date}}</p>
        <h2><a href = "">{{post.title}}</a></h2>
        <p>{{post.text|linebreaksbr}}</p>
      </div>
    {% endfor %}

    <h2>Owain's Learning Website</h2>
    <p>This is a paragraph test.</p>
    <p>This is <b>another</b> paragraph test. This paragraph will <b><i>auto (italics too D:)</i></b> format itself on the webpage. COOL.</p>
    <br/>
    <p>We want white space above this by using a break tag. (br) 1 br = 1 more space.</p>
    <hr/>
    <p>we want a horistonal rule tag. above this paragraph. to seperate content :)</p>
    <p>now we want to make this paragraph's text or a single world <big>bigger</big> or <small>smaller.</small></p>
    <p>we now want a subscript for example H<sub>2</sub>0 needs to have the 2 as a subscript.</p>
    <p>now we want a superscript for maths. y<sup>2</sup> + x<sup>2</sup> = 25. the squars need to be super script. </p>
    <br/>
    <hr/>

    <!-- This is a comment. :) -->

    <h2>Styles and Colours</h2>
    <!-- <p style="color: blue;"> you can style your HTML basicaly using CSS. CSS stands for Cascading Style Sheets. </p>
    <p style="color: red; background-color: blue;"> This will be red :) and background is blue :)</p> -->
    <br/>
    <hr/>

    <!-- The below stuff is for formatting. pretend the stuff above doesn't exist. These are contained to format the body.-->

    <header>
      <nav>

      </nav>
    </header>
    <main>
      <article>
        <section>
          <h3></h3>

        </section>
        <section>
            <aside>
              <!-- not directly related to website. maybe ads. -->
            </aside>
        </section>
      </article>
    </main>
    <footer>

    </footer>

    <h2> <b>LINKS</b> </h2>

    <a href="https://www.google.com"> <h3>NAVIGATE TO GOOGLE.</h3> </a>
    <a href="https://www.google.com" target="_blank"> <h3>NAVIGATE TO GOOGLE via <b><i>NEW TAB.<i></b></h3> </a>
    <a href="page2.html"> <h3>Navigate to page 2</h3> </a>
    <!-- Page3 is in a different directory so linking to it will be different.-->

    <a href="dir_1/page3.html" > <h3>Nav to page 3 in different directory<h3> </a>

    <a href="website.jpg"> link to image in directory. </a>
    <hr/>
    <h2> IMAGES </h2>

    <img src="https://www.google.co.uk/search?client=opera&hs=DaL&biw=1464&bih=861&tbm=isch&sa=1&ei=Win5XfS2LsyM8gL7yovgBg&q=cat+image&oq=cat+image&gs_l=img.3..0i67l3j0l7.132641.133465..133525...0.0..0.101.567.9j1......0....1..gws-wiz-img.......0i7i30j0i8i30j0i131.aW4me1I4QYg&ved=0ahUKEwj0y5S6sr3mAhVMhlwKHXvlAmwQ4dUDCAY&uact=5#imgrc=zP4N2WyGyDNkkM:" alt="Image of cat off google." />
    <br/>
    <br/>
    <img src="website.jpg" alt = "Local image." width="100" height="100" />
    <br/>
    <img src="website.jpg" alt = "Local image." width="100" />
    <br/>
    <img src="cable2.jpg" alt = "Local image of cable" width="145" />

    <h4>Putting a link inside of an image. (click on below image.) - takes you to google :) </h4>

    <a href="https://www.google.com">
      <img src="cable1.jpg" alt = "Local image of cable 1" width = "166"/>
    </a>
    <hr/>

    <h2>  VIDEOS AND YOUTUBE iFRAMES </h2>
    <h4> video from local storage. </h4>
    <video src="Borderlands_ The Pre-Sequel - Meet Athena _ GameStop.mp4" width="500" controls > browser can't display video</video
    <h4> Using a thumbnail </h4>
    <video src="Borderlands_ The Pre-Sequel - Meet Athena _ GameStop.mp4" poster="cable1.jpg" width="500" controls > browser can't display video</video>
    <h4> auto playing video.</h4>
    <video src="Borderlands_ The Pre-Sequel - Meet Athena _ GameStop.mp4" width="500" autoplay controls > browser can't display video</video>
    <h4> Looping video.</h4>
    <video src="Borderlands_ The Pre-Sequel - Meet Athena _ GameStop.mp4" width="500" loop controls > browser can't display video</video>
    <h4>iframes allow you to peak into another website. i.e Youtube.</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LJGzJQhVEgU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <hr/>

    <h2> LISTS </h2>

    <h4> unordered list (can also give links etc.)</h4>

    <ul>
      <li><a href="https://youtube.com">Apples</a></li>
      <li>Kiwi</li>
      <li>Oranges</li>
      <li>Mango</li>
    </ul>

    <h4> <b>Ordered</b> lists </h4>

    <ol>
      <li><a href="https://youtube.com">Apples</a></li>
      <li>Kiwi</li>
      <li>Oranges</li>
      <li>Mango</li>
    </ol>

    <ol type="I">
      <li><a href="https://youtube.com">Apples</a></li>
      <li>Kiwi</li>
      <li>Oranges</li>
      <li>Mango</li>
    </ol>

    <ol type="A">
      <li><a href="https://youtube.com">Apples</a></li>
      <li>Kiwi</li>
      <li>Oranges</li>
      <li>Mango</li>
    </ol>

    <ol type="i">
      <li><a href="https://youtube.com">Apples</a></li>
      <li>Kiwi</li>
      <li>Oranges</li>
      <li>Mango</li>
    </ol>

    <ol type="a">
      <li><a href="https://youtube.com">Apples</a></li>
      <li>Kiwi</li>
      <li>Oranges
        <ol>
          <li>item1</li>
          <li>item2 list inside list :))</li>
        </ol>
      </li>
      <li>Mango</li>
    </ol>

    <h4> DESCRIPTION LIST</h4>

    <dl>
      <dt>Pears</dt>
      <dd>- I don't like Pears :( </dd>
      <dt>Kiwi</dt>
      <dd>- I Love KIWI!! </dd>
      <dt>Oranges</dt>
      <dd>- yum </dd>
    </dl>

    <hr/>

    <h2> TABLES </h2>

    <table>
      <thead>
        <caption><h4>Table Title</h4></caption>
        <tr>
          <th>X</td>
          <th>Y</td>
          <th>Z</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">55</td>
          <td>1</td>
          <td>5</td>
        </tr>
        <tr>
          <td>3</td>
          <td>15</td>
          <td>6</td>
        </tr>
    </tbody>
    </table>

    <hr/>

    <h2> DIVS AND SPANS </h2>

    <p>
      these are html contianers wrapping up n stuff. HTML elements are displayed in 2 basic ways but there are more than 2.
     but block and inline are the 2 main ways,
     block are elements that take up the entire width of the page.
     inline thatonly take up as much space as they need.
     you can have inline elements sitting next to eachother
     but block elements cannot sit next to eachother as they take up the entire widh of the page.
     some tags are block tags and some are inline tags.
     THIS PARA IS A BLOCK ELEMENT :) if i make another paragraph it will always be below but links on the other hand :::
    </p>

    <a href="#" >link1</a>
    <a href="#" >link2 </a>

    <h4> Spans are inline Dibs are block containers.</h4>

    <span>span 1</span>
    <span>span 2</span>

    <div>div1</div>
    <div>div2</div>

    <hr/>

    <h2> INPUT AND FORMS <h2>
    <h4>need javascript to add functionality.</h4>

    <input type="text" />

    <h4> hidden input for password.</h4>

    <input type="password">

    <h4> default content inside the text boxes.</h4>

    <input type="text" value ="Type here"/>

    <h4> text area. </h4>

    <textarea rows="20" cols="100">
      Enter a Paragraph.
    </textarea>

    <h4> date </h4>

    <input type="date"/>

    <h4> Email </h4>

    <input type="email"/>

    <h4> range </h4>

    <input type="range"/>

    <h4> File </h4>

    <input type="file"/>

    <h4> checkbox </h4>

    <input type="checkbox"/>
    <input type="checkbox"/>

    <h4> radiobutton - if have same name can only select 1 </h4>

    <input name = "btn" type="radio"/>
    <input name = "btn" type="radio"/>

    <h4> submit button </h4>

    <input type="submit"/>

    <h4> More attributes </h4>
    <a href="https://www.w3schools.com/TagS/att_input_type.asp">Link to more attributes </a>

    <h4> FORM - typically to store all user inputs from above attribute stuff. </h4>

    <form>
      <input type="submit/">
    </form>

    <hr/>

    <h2> iFRAMES </h2>

    <p>can embed another website in your website big websites don't alow it :( </p>

    <iframe src="https://www.wikkipedia.org " width="1000" height="500" frameborder = "0"> browser can't use iframe.</iframe>

    <hr/>

    <h2> META TAGS</h2>

    <!-- look above -->







  </body>

</html>
