*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-align: center;

}

html{
  font-size: 10px;
  font-family: 'Roboto' sans-serif;
  color: #ffffff;

  background-color: #1F2833;
}

body{

  /* background: linear-gradient(to top right, #5e1b9d, #00d4ff);
  background-size: auto; */
}

a{
  text-decoration: none;
  color: #ffffff;
}

p{
  font-size: 1.8rem;
  font-weight: 300;
}

.CV h1{
  color: #975535;
}

h1{
  color: #975535;
}

.CV h1{
  margin-top: 20px;
}
