/* .page-header {
  background-color: #B22222;
  margin-top: 0;
  padding: 1px 5px 5px 20px;
} */

/* .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #ffffff;
  font-size: 15pt;
  text-decoration: none;
} */

body{
  background-color: #363030;

}

.content {
  margin-left: 40px;
  margin-top: 40px;
}

h1, h2, h3, h4 {
  color: #ffffff;
  font-family: 'Sriracha', cursive;
}

.date {
  color: #975535;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

/* .top-menu, .top-menu:hover, .top-menu:visited{
  color: #ffffff;
  float: right;
  font-size: 25pt;
  margin-right: 20px;
} */

.post {
  margin-bottom: 70px;

}

.post h2 a, .post h2 a:visited{
  color: #ffffff;
}
p{
  color: #ffffff;
}
