*{
  text-align: center;
  align-items: center;
}
body{
    background-color: #1F2833;

}

.content {
  /* margin-left: 40px; */
  margin-top: 40px;
}

h1, h2, h3, h4 {
  color: #ffffff;
  font-family: 'Sriracha', cursive;
}

.date {
  color: #975535;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.post {
  margin-bottom: 70px;

}

.post h2 a, .post h2 a:visited{
  color: #ffffff;
}

.post p2{
  font-size: 12px;
  color: #ffffff;

}

/* a{
  text-decoration: none;
  color: #ffffff;
}
